{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if show_cancel_order %}
    <li><a href="{% url opts|admin_urlname:'cancel' original.pk|admin_urlquote %}">Cancelar pedido</a></li>
  {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  {% if show_save_and_dispatch %}
    <div class="submit-row">
      <input type="submit" value="Guardar y despachar" name="_save_and_dispatch">
    </div>
  {% endif %}
  {% if show_mark_delivered %}
    <div class="submit-row">
      <input type="submit" value="Marcar como entregado" name="_mark_delivered">
    </div>
  {% endif %}
{% endblock %}
